body {
    background-color: rgb(20, 20, 20);
    color: white;
}

.menu-button {
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.menu-button span {
    display: block;
    width: 30px;
    height: 5px;
    margin: 3px 0;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
    transform-origin: center;
}

.menu-button.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-button.active span:nth-child(2) {
    opacity: 0;
    /* hide middle line */
}

/* ==============================
   TABLET (≥ 768px)
================================ */
@media (min-width: 768px) {
    .menu-button {
        display: none;
    }

    body {
        display: block;
        font-weight: 600;
    }

    table {
        margin: 0 auto;
        border-spacing: 20px 0;
    }

    table#members {
        margin: 0;
        font-size: smaller;
    }

    /*MENU*/
    td.menucolumn {
        max-width: 400px;
        /*min-width: 350px;*/
        text-align: center;
    }

    .menu button {
        font-weight: 600;
    }

    .menu button.active {
        background: #333;
        color: white;
        /*font-weight: bold;*/
    }

    /*CONTENT*/
    td.content {
        vertical-align: top;
        width: 400px;
    }

    .inconsolata-IC {
        font-family: "Inconsolata", monospace;
        font-optical-sizing: none;
        font-weight: 270;
        font-style: normal;
    }

    h2 {
        margin-inline-start: 10px;
        font-size: medium;
    }

    p {
        text-align: justify;
        font-size: small;
        margin: 25px;
        margin-left: 0px;
    }

    a {
        color: limegreen;
        font-weight: 500;
        text-decoration: none;
    }

    img#band_logo {
        max-width: 250px;
        padding-right: inherit;
        padding-left: inherit;
    }
}


/* ==============================
   LAPTOP / DESKTOP (≥ 1024px)
================================ */
@media (min-width: 1024px) {
    table {
        margin: 0;
        /*-margin-left: 30%;*/
    }

    /*MENU*/
    .menu button {
        cursor: pointer;
        font-weight: 600;
    }

    /*CONTENT*/
    .inconsolata-IC {
        font-optical-sizing: auto;
    }

    table#members {
        font-size: medium;
    }

    td.content {
        width: auto;
    }

    h2 {
        font-size: larger;
    }

    p {
        font-size: medium;
    }

    a {
        font-weight: 300;
    }

    a:hover {
        font-weight: 500;
    }

    img#band_logo {
        max-width: inherit;
    }
}